<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xxl.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="cn.xxl.domain.Role">
        <id column="roleid" jdbcType="INTEGER" property="roleid"/>
        <result column="rolename" jdbcType="VARCHAR" property="rolename"/>
    </resultMap>

    <!--根据用户id查询用户角色-->
    <select id="queryRolesByUserId" resultMap="BaseResultMap">
        select t1.*
        from role t1
                 inner join user_role t2
                            on (t1.roleid = t2.roleid)
        where t2.userid = #{value}
    </select>
</mapper>